---
import Brands from "../components/Brands.jsx";
import Card from "../components/Card.astro";
import Hero from "../components/Hero.astro";
import Section from "../components/Section.astro";
import SearchEngine from "../components/assets/services/SearchEngine.astro";
import PayPerClick from "../components/assets/services/PayPerClick.astro";
import Layout from "../layouts/Layout.astro";
import Services from "../components/Services.astro";
---

<Layout title="Home">
  <Hero />
  <div class="my-16 md:my-10">
    <Brands client:load />
  </div>
  <Services />
</Layout>
