---
import Brands from "../components/Brands.jsx";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Services from "../components/Services.astro";
import Cta from "../components/Cta.astro";
import Collapse from "../components/Collapse.astro";
import AccordionSection from "../components/AccordionSection.astro";
---

<Layout title="Home">
  <Hero />
  <div class="my-16 md:my-10">
    <Brands client:load />
  </div>
  <Services />
  <Cta />
  <AccordionSection />
</Layout>
