---
import { twMerge } from 'tailwind-merge'
const {  className = ""} = Astro.props as {className: string;};
---

<button class={twMerge('bg-brand-dark cursor-pointer rounded-btn text-white text-xl py-5 px-9', className)}>
    <slot  />
</button>