---
import { twMerge } from 'tailwind-merge'
const {  className = "", href = '#'} = Astro.props as {className: string,href:string};
---

<a {href} class={twMerge('bg-brand-dark flex justify-center items-center cursor-pointer rounded-btn text-white text-xl py-5 px-9', className)}>
    <slot  />
</a>