---
import Button from "./Button.astro";
---

<div class="px-5 lg:px-24 my-14">
  <div class="bg-brand-slate gap-y-5 grid rounded-4xl p-10 md:p-12">
    <h2 class="text-2xl font-medium  antialiased">
      Let’s make things <br /> happen
    </h2>
    <p>
      Contact us today to learn more about how our digital marketing services
      can help your business grow and succeed online.
    </p>
    <Button>Get your proposal</Button>
  </div>
</div>
