---
import HeroImage from "./assets/HeroImage.astro";
---

<div class="px-5">
  <div class="space-y-5">
    <h1 class="text-[43px] font-medium">
      Navigating the <br /> digital landscape <br /> for success
    </h1>
    <HeroImage />
    <p>
      Our digital marketing agency helps businesses grow and succeed online
      through a range of services including SEO, PPC, social media marketing,
      and content creation.
    </p>
  </div>
  <button
    class="bg-brand-dark cursor-pointer rounded-btn  w-full mt-10 text-white text-xl py-5 px-9">Book a consultation</button
  >
</div>
