---
import HeroImage from "./assets/HeroImage.astro";
---

<div class="px-5">
  <div class="md:space-x-0 space-y-5 md:grid grid-cols-2 my-16">
    <div class="grid place-content-center md:gap-y-9">
      <h1 class="text-[43px] font-medium">
        Navigating the <br /> digital landscape <br /> for success
      </h1>
      <p class="hidden md:block">
        Our digital marketing agency helps businesses grow and succeed online
        through a range of services including SEO, PPC, social media marketing,
        and content creation.
      </p>
      <div class="">
        <button
          class="bg-brand-dark cursor-pointer hidden md:block rounded-btn text-white text-xl py-5 px-9"
          >Book a consultation</button
        >
      </div>
    </div>
    <div class="grid place-items-center">
      <HeroImage />
    </div>
    <p class="md:hidden block">
      Our digital marketing agency helps businesses grow and succeed online
      through a range of services including SEO, PPC, social media marketing,
      and content creation.
    </p>
  </div>
  <button
    class="bg-brand-dark cursor-pointer md:hidden rounded-btn w-full text-white text-xl py-5 px-9"
    >Book a consultation</button
  >
</div>
